name: Generate-PC-Name-And-Password

on:
  workflow_dispatch:

jobs:
  generate:
    runs-on: windows-latest

    steps:
      - name: Generate PC name and password
        run: |
  $pcName = "PC-" + (Get-Date -Format "yyyyMMdd-HHmmss") + "-" + (Get-Random -Maximum 9999)

  # Alternative password generator
  $chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*"
  $password = -join ((1..12) | ForEach-Object { $chars[(Get-Random -Maximum $chars.Length)] })

  echo "PC_NAME=$pcName" >> $env:GITHUB_ENV
  echo "PASSWORD=$password" >> $env:GITHUB_ENV
